// Color Variables
$white: #ffffff;
$hostfront-blue-light: #f8fafe;
$hostfront-blue: #2980b9; 
$hostfront-blue-dark: #283e51;

.btn {
  padding: 15px 35px;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px 0;

  &--std {
    border-radius: 30px;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    &01 {
      background: $hostfront-blue;
      color: $white;

      &:hover {
        background-color: $hostfront-blue-dark;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }

    &02 {
      background-color: $white;
      color: $hostfront-blue-dark;

      &:hover {
        background-color: $hostfront-blue-dark;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        color: $white;
      }
    }
  }

  &__slide {
    width: 100%;
    height: 100%;
    left: -200px;
    position: absolute;
    transition: all 0.35s ease-Out;
    bottom: 0;
  }

  & a {
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.35s ease-Out;
    position: relative;
  }

  &__slide--01 {
    background: $hostfront-blue;
  }

  &__slide--02 {
    background: $white;
  }

  &:hover &__slide {
    left: 0;
  }
}