<ng-container *ngTemplateOutlet="buttonConfig['primary'] ? primary : secondary; buttonText">
</ng-container>

<!-- Primary Button -->
<ng-template #primary>
  <span class="btn btn--std btn--std01">{{ buttonText | uppercase }}</span>
</ng-template>

<!-- Secondary Button -->
<ng-template #secondary>
  <span class="btn btn--std btn--std02">{{ buttonText | uppercase }}</span>
</ng-template>