<div class="container" id="first-tab">
  <div class="flex" *ngIf="prices">
    <div class="column" *ngFor="let price_card of prices.api_res_price_card; let odd = odd;">
      <div class="card" [ngClass]="{active: odd}">
        <div class="card__icon">
          <img src="{{baseUrl}}{{price_card.icon.url}}" />
        </div>
        <div class="card__body">
          <h3 class="card__title">{{price_card.card_header}}</h3>
          <p class="card__text">{{price_card.card_text}}</p>
          <p class="card__price">{{price_card.price}} p/m</p>
          <ul style="margin-bottom: 18%;" *ngFor="let details of price_card.package_details">
            <li><span class="fa-li"><i class="fa fa-check-square"></i></span>{{details.site_visits}}</li>
            <li><span class="fa-li"><i class="fa fa-check-square"></i></span>{{details.storage}}</li>
            <li><span class="fa-li"><i class="fa fa-check-square"></i></span>{{details.bandwidth}}</li>
            <li><span class="fa-li"><i class="fa fa-check-square"></i></span>{{details.sites_included}}</li>
          </ul>
          <div class="card__body__extra" style="display: none;">
            <div class="card__body__extra__01">
              <h3 class="card__title">Included for free</h3>
              <ul>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Automated SSL Certificates</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Dev/Stage/Prod Environments</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Global CDN</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Malware scanning</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>PHP 7.4 ready</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Website Backups </li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Website Migration</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Website Performance Check</li>
                <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Wordpress Plugins Starter Kit</li>

              </ul>
            </div>

            <!-- <div class="card__body__extra__02">
              <h3 class="card__title">Available add-ons</h3>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
              </ul>
            </div> -->
          </div>

          <app-button [buttonConfig]="odd ? secondaryBtn : primaryBtn" buttonText={{price_card.cta}}></app-button>
          <a (click)="showMoreContent()">Click here to compare all features</a>
        </div>
      </div>
    </div>

  </div>
</div>