// Color Variables
$white: #ffffff;
$hostfront-blue-light: #f8fafe;
$hostfront-blue: #2980b9; 
$hostfront-blue-dark: #283e51;

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background-color: $white;

  & ul {
    list-style: none;
    & li {
      position: relative;
      & span {
        top: 0;
      }
    }
  }

  &__icon {
    position: relative;
    margin: auto;
    & img {
      max-height: 30%;
      max-width: 30%;
    }
  }

  &__body {
    text-align: center;
    & a {
      display: block;
      margin-top: 2em;
      color: $hostfront-blue-dark;
      text-decoration: underline;
      cursor: pointer;
    }
    & ul {
      text-align: left;
    }
    &__extra {
      // display: none;
      margin-bottom: 5em;
      text-align: left;
      & h3 {
        padding: 10px;
        margin: 0;
      }
      & ul {
        & li {
          margin-bottom: 5px;
        }
      }
      &__02 {
        margin-top: 5em;
      }
    }
  }

  &__title {
    font-size: 1.5em;
    color: $hostfront-blue-dark;
  }

  &__text {
    line-height: 2;
  }

  &__price {
    font-family: "Arial Black";
    font-size: 3em;
    background: linear-gradient($hostfront-blue-dark, $hostfront-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.active {
    background-image: linear-gradient($hostfront-blue-dark, $hostfront-blue);
    padding: 50px 16px;
    & .card__title,
    .card__body,
    .card__price {
      color: $white;
    }
    & .card__price {
      -webkit-text-fill-color: initial;
    }
    & .card__body {
      & a {
        color: #fff;
      }
    }
  }
}
