section {
  &.home {
    background-image: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 0.5)),
        url("https://images.pexels.com/photos/1742370/pexels-photo-1742370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
}
