<section class="section color--bg" [class]="heroClass">
  <div class="container">
    <div class="flex">
      <div class="text-container" *ngIf="data">
        <h1>{{data.api_res_footer_hero_module.footer_hero_text}}</h1>
        <!-- <h2>{{data.api_res_footer_hero_module.footer_hero_text}}</h2> -->
      </div>
    </div>
  </div>
</section>