<header class="header">
  <app-navbar></app-navbar>
  <svg id="curve" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1416.99 174.01">
    <path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z"
      transform="translate(0 -135.53)"></path>
  </svg>
  <div class="header__container">
    <div class="header__container__content">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
  </div>
</header>

<section class="section">
  <div class="container">
    <div class="flex" data-aos="fade-left">
      <div class="cta cta--left">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
      </div>
      <img class="cta__img" src="assets/images/laptop.svg" />
    </div>
  </div>
  <div class="container">
    <div class="flex" data-aos="fade-right">
      <img class="cta__img" src="assets/images/co2.svg" />
      <div class="cta cta--right">
        <h2>Carbon Offsetting</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section color--bg color--wavy">
  <div class="container">
    <div class="flex">
      <div class="cta cta--color cta--left" data-aos="fade-left">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex">
      <div class="cta cta--color cta--right" data-aos="fade-right">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="carbon-offset">
  <div class="container">
    <div class="flex heading">
      <h2>Our trusted climate partners</h2>
    </div>
  </div>
  <div class="container">
    <div class="flex" data-aos="fade-up">
      <img src="assets/images/cloud-computing.png" />
      <div>
        <h3>Our trusted climate partners</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="flex heading">
      <h2>Why Choose Us?</h2>
    </div>
  </div>
  <div class="container">
    <div class="flex">
      <div class="column">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
          <span class="btn btn--std btn--std01">Click Here</span>
        </div>
      </div>
      <div class="column">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
          <span class="btn btn--std btn--std01">Click Here</span>
        </div>
      </div>
      <div class="column">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
          <span class="btn btn--std btn--std01">Click Here</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section color--bg">
  <div class="container">
    <div class="flex">
      <div class="text-container">
        <h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section section--feature">
  <div class="container">
    <div class="flex">
      <form class="card" data-aos="fade-up">
        <div class="form-container">
          <div class="form-wrapper">
            <h2>Send HostFront a Message</h2>
            <div class="input-wrapper">
              <div class="form-group">
                <label for="input-name">Name</label>
                <input type="text" id="input-name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="input-email">Email address</label>
                <input type="email" id="input-email" placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="input-subject">Subject</label>
                <input type="text" id="input-subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <label for="input-message">Message</label>
                <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="btn-wrapper">
              <span class="btn btn--std btn--std01">Send</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section> -->
<app-scroll></app-scroll>
<app-footer></app-footer>