.header {
  background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("/assets/images/about-bg.jpg");
}

section {
  &.color {
    &--bg {
      background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("/assets/images/about-bg.jpg");
    }
    &--wavy {
      background-image: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 0.5)),
        url("/assets/images/forest.jpg");
      background-position: 50% 50%;
    }
  }
  &#carbon-offset {
    & .flex {
      align-items: center;
      text-align: center;

      & img {
          max-width: 250px;
          margin: 3em;
      }
    }
  }
}

form {
  & h2 {
    text-align: center;
  }
  & .form-container, .form-wrapper {
    width: 100%;
  }
  textarea{
    min-height: 150px;
  }
  & .btn-wrapper {
    justify-content: center;
  }
}

// tablet view
@media (min-width: 736px) {
  .header__container {
    &__content {
      width: 75%;
      margin-top: 50px;
    }
  }
  form {
    width: 75%;
  }
}


// Large tablet view
@media (min-width: 1024px) {
  section.section {
    &.color {
      &--bg {
        &::before{
          height: 12%;
        }
        &::after {
          height: 12%;
        }
      }
    }
    &#carbon-offset .container .flex div {
      text-align: left;
    }
  }
}

// Desktop View
@media (min-width: 1366px) {
  section.section {
    &.color {
      &--bg {
        &::before{
          height: 18%;
        }
        &::after {
          height: 18%;
        }
      }
    }
  }
}
