<header class="header" [class]="headerClass">
  <app-navbar></app-navbar>
  <svg id="curve" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1416.99 174.01">
    <path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z"
      transform="translate(0 -135.53)"></path>
  </svg>
  <div class="header__container" *ngIf="data">
    <div class="header__container__content">
      <h1>{{data.api_res_hero_module.hero_header}}</h1>
      <p>{{data.api_res_hero_module.hero_excerpt}}</p>
      <div class="btn-wrapper">
        <app-button [buttonConfig]="primaryBtn"
          [buttonText]="data.api_res_hero_module.hero_double_button_cta[0].hero_cta_left_side_button">
        </app-button>
        <app-button [buttonConfig]="secondaryBtn"
          [buttonText]="data.api_res_hero_module.hero_double_button_cta[0].hero_cta_right_side_button">
        </app-button>
      </div>
    </div>
  </div>
</header>