.header {
  position: relative;
  height: 750px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;

  &.home {
    background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("/assets/images/bg.jpg");
  }

  &.contact {
    background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("https://images.pexels.com/photos/3183196/pexels-photo-3183196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: 50% 50%;
  }

  & svg {
    position: absolute;
    bottom: 0;
    width: 100%;

    & path {
      fill: #fff;
    }
  }

  &__container {
    max-width: 85%;
    height: 100%;
    display: flex;
    margin: auto;
    color: white;

    &__content {
      text-align: center;
    }
  }
}

// Header Component Tablet View
@media (min-width: 768px) {
  .header__container {
    &__content {
      width: 75%;
      text-align: left;
      & h1 {
        font-size: 3.5rem;
      }
      & p {
        margin-bottom: 3em;
      }
      & .btn-wrapper {
        display: inline;
        & .btn {
          padding: 20px 30px;
          margin-right: 20px;
        }
      }
    }
  }
}

// Header Component Desktop View
@media (min-width: 1367px) {
  .header__container {
    &__content {
      width: 50%;
    }
  }
}

// Header Component Large Desktop
@media only screen and (min-width: 1680px) {
  .header {
    height: 900px;
  }
}

// Header Component x-Large Desktop
@media only screen and (min-width: 2560px) {
  .header {
    height: 75vh;
  }
}
