.header {
   background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("https://images.pexels.com/photos/3183196/pexels-photo-3183196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: 50% 50%;
}

h2 {
  a {
    text-decoration: none;
    color: #4b79a1;
  }
}
form {
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 16px;
}

.form-wrapper {
  width: 100%;
}

@media (min-width: 1024px) {
  .card {
    display: flex {
    }
  }
  .form-container {
    width: 100%
  }
}

@media (min-width: 1300px) {
  .header__container {
    &__content {
      width: 80%;
      margin-top: 50px;
    }
  }
}

// Color Variables
$white: #ffffff;
$hostfront-blue-light: #f8fafe;
$hostfront-blue: #2980b9; 
$hostfront-blue-dark: #283e51;

.btn {
  padding: 15px 35px;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px 0;

  &--std {
    border-radius: 30px;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    &01 {
      background: $hostfront-blue;
      color: $white;

      &:hover {
        background-color: $hostfront-blue-dark;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}