<app-header [data]="pageModelDynamicGlobalModules" [headerClass]="contact"></app-header>

<section class="section wordpress-hosting">
  <div class="container" *ngIf="pageModelEssentialData">
    <div class="flex heading">
      <h2 *ngIf="submitted">Thank You Your Message Has Been Recieved</h2>
      <h2 *ngIf="!submitted">Complete the form below and we will respond on the next business day. <br /> or call <a
          href="tel:+7534420485"> 075 3442 0485 </a> for
        Hostfront support.</h2>
    </div>
  </div>

  <div class="container">
    <div class="flex">
      <div class="form-container">
        <!-- @TODO: Thank you message needs to be designed -->
        <div data-aos="fade-up">
          <form *ngIf="!submitted" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-wrapper">
              <!-- <h2>Please fill out this form</h2> -->
              <div class="input-wrapper">
                <div class="form-group">
                  <label>Name *</label>
                  <input [class.invalid]="getInputField('name').invalid && getInputField('name').touched" type="text"
                    formControlName="name">
                  <div *ngIf="getInputField('name').invalid && getInputField('name').touched">
                    <small *ngIf="getInputField('name').errors?.required" class="">Your name is required</small>
                    <small *ngIf="getInputField('name').errors?.minlength" class="">Your name must be at least 3
                      characters</small>
                  </div>
                </div>
                <div class="form-group">
                  <label> Email *</label>
                  <input [class.invalid]="getInputField('email').invalid && getInputField('email').touched" type="email"
                    formControlName="email">
                  <div
                    *ngIf="(getInputField('email').invalid && getInputField('email').touched) || getInputField('email').dirty">
                    <small *ngIf="getInputField('email').errors?.required" class="text-danger">Your email is
                      required</small>
                    <small *ngIf="getInputField('email').errors?.pattern" class="text-danger">Please provide a valid
                      email
                      address</small>
                  </div>
                </div>
                <div class="form-group">
                  <label> Phone *</label>
                  <input [class.invalid]="getInputField('phone').invalid && getInputField('phone').touched" type="text"
                    formControlName="phone">
                  <div
                    *ngIf="(getInputField('phone').invalid && getInputField('phone').touched) || getInputField('phone').dirty">
                    <small *ngIf="getInputField('phone').errors?.required">Your phone number is required</small>
                    <small *ngIf="getInputField('phone').errors?.pattern">Your phone number must be at least 10
                      digits</small>
                  </div>
                </div>
                <div class="form-group">
                  <label> Website</label>
                  <input [class.invalid]="getInputField('website').invalid && getInputField('website').touched"
                    type="text" formControlName="website">
                  <div
                    *ngIf="(getInputField('website').invalid && getInputField('website').touched) || getInputField('website').dirty">
                    <small *ngIf="getInputField('website').errors?.pattern" class="text-danger">Please provide a valid
                      website
                      [http://example.com]</small>
                  </div>
                </div>
                <div class="form-group">
                  <label> Business Name</label>
                  <input
                    [class.invalid]="getInputField('businessName').invalid && getInputField('businessName').touched"
                    type="text" formControlName="businessName">
                </div>
                <div class="form-group">
                  <label for="input-topic">Topic *</label>
                  <select (blur)="validateTopic(getInputField('topic').value)"
                    (change)="validateTopic(getInputField('topic').value)"
                    [class.invalid]="getInputField('topic').invalid && getInputField('topic').touched"
                    formControlName="topic">
                    <option value='' disabled>I am interested in</option>
                    <option *ngFor="let topic of topics"> {{topic}}</option>
                  </select>
                  <small [class.d-none]="!getInputField('topic').invalid && getInputField('topic').touched">Please
                    choose a topic</small>
                </div>
                <div class="form-group">
                  <label for="input-message">Message *</label>
                  <textarea [class.invalid]="getInputField('message').invalid && getInputField('message').touched"
                    formControlName="message"></textarea>
                  <div
                    *ngIf="(getInputField('message').invalid && getInputField('message').touched) || getInputField('message').dirty">
                    <small *ngIf="getInputField('message').errors?.required">Your message is required</small>
                    <small *ngIf="getInputField('message').errors?.minlength">Your message must be at least 10
                      characters long</small>
                  </div>
                </div>
              </div>
              <div>
              </div>
              <div class="form-group">
                <input type="checkbox" formControlName="checked">
                <label>I consent to the collection, storage and use of the information I have entered here. I understand
                  that Hostfront may use this information to contact me, customize my site experience and optimize the
                  Hostfront website in accordance with its Privacy Policy.</label>
              </div>
              <!-- <div class="btn-wrapper">
                <app-button [buttonConfig]="primaryBtn" [buttonText]="'Submit'">
                </app-button>
              </div> -->
              <div class="btn-wrapper">
                <button [disabled]="!contactForm.valid" class="btn btn--std btn--std01">Send</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="flex">
        <div class="faq">
          <h2>FAQ'S</h2>
          <div class="faq-content">
            <div class="faq-question">
              <input id="q1" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q1" class="panel-title">What is the meaning of life?</label>
              <div class="panel-content">42</div>
            </div>

            <div class="faq-question">
              <input id="q2" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q2" class="panel-title">How much wood would a woodchuck chuck?</label>
              <div class="panel-content">A woodchuck would chuck all the wood he could chuck, if a woodchuck could
                chuck
                wood!</div>
            </div>

            <div class="faq-question">
              <input id="q3" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q3" class="panel-title">What happens if Pinocchio says, "my nose will grow now"?</label>
              <div class="panel-content">Certain questions are better left &nbsp; <a
                  href="https://en.wikipedia.org/wiki/The_Unanswered_Question" target="_blank">unanswered</a></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<app-scroll></app-scroll>
<app-footer></app-footer>