<div class="topbar">
  <div class="topbar__container">
    <div class="topbar__wrapper">
      <div class="topbar__contacts">
        <a href="tel:+7534420485" class="hover"> Call: 07534420485</a>
        <a href="mailto:sales@hostfront.co.uk" class="hover">Email: sales@hostfront.co.uk</a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar" id="myTopnav">
  <div class="navbar__container">
    <div class="navbar__container__brand">
      <a routerLink="">
        <img class="logo" src="assets/images/logo.png" alt="Hosfront Logo" />
        <span>HostFront</span>
      </a>
      <a href="javascript:void(0);" class="icon" (click)="responsiveNav()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="navbar__container__main-nav">
      <!-- <li><a class="hover" routerLink="/about" routerLinkActive="active">About</a></li>
      <li class="dropdown"><a class="hover" routerLinkActive="active">Services <i class="fa fa-caret-down"></i></a>

        <div class="dropdown__content">
          <a routerLink="/wordpress-hosting">Wordpress Hosting</a>
          <a routerLink="/wordpress-maintenance">Wordpress Maintenance</a>
        </div>
      </li> -->
      <li><a class="hover" routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>