.topbar {
  width: 100%;
  padding: 0 1.5em;
  background-color: #16324a;
  color: #ffffff;

  &__container {
    display: flex;
    justify-content: center;

    & div {
      & div {
        padding: 20px 0;
        margin: auto;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    & a {
      color: #ffffff;
      text-decoration: none;
      margin: 0 0.5em;
    }
  }
}

.navbar {
  padding: 0.5em;
  // position: fixed;
  width: 100%;
  z-index: 2;

  &--scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 2s;
  }

  &__container {
    &__brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      // width: 100%;

      & a {
        display: flex;
        align-items: center;

        & .logo {
          width: 75px;
        }
        & span {
          font-size: 1.5em;
          font-weight: bold;
        }
      }
    }

    &__main-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;

      & .dropdown {
        overflow: hidden;
        margin: 0 !important;
        display: block;
        &__content {
          flex-direction: column;
          display: none;
          position: relative;
          & a:hover {
            color: #16324a;
            transition: color 1s;
          }
        }
      }

      & .dropdown:hover .dropdown__content {
        display: flex;
      }
    }

    & a {
      text-decoration: none;
      margin: 10px 15px;
      padding: 5px;
      font-weight: bold;
      color: #ffffff;
      position: relative;
      cursor: pointer;
      & .fa {
        padding: 0 3px;
      }
    }
  }
}

.hover {
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2px;
    left: 0;
    background: #fff;
    visibility: hidden;
    /*  Animate with a duration of 0.3 seconds */
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__container__brand,
  .navbar__container__main-nav,
  .navbar__container__main-nav div {
    display: flex;

    & a {
      display: flex;
      align-items: center;
    }
  }
  .navbar__container__brand {
    flex-direction: column;
    align-items: center;
  }
  #myTopnav {
    & .icon {
      display: none;
    }
  }

  .topbar__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .navbar__container__brand {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(min-width: 768px) {
  .navbar__container__main-nav .dropdown__content {
    position: absolute;
  }
}

@media screen and (max-width: 820px) {
  .navbar--scrolled--responsive {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 1s;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .navbar__container {
    flex-direction: column;
  }
  .navbar.responsive div {
    float: none;
    text-align: left;
  }
  .navbar.responsive .navbar__container__main-nav {
    display: block;
  }
  .navbar.responsive li {
    margin: 15px 0;
  }
  .navbar.responsive .navbar__container__main-nav {
    width: 100%;
  }
}