// @font-face {
//   font-family: 'Lato';
//   src: url('../../fonts/regular/Lato-Regular.woff2') format('woff2'),
//       url('../../fonts/regular/Lato-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('../../fonts/black/Lato-Black.woff2') format('woff2'),
//       url('../../fonts/black/Lato-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url('../../fonts/bold/Lato-Bold.woff2') format('woff2'),
//       url('../../fonts/bold/Lato-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
// }

