.header {
  background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("/assets/images/services-bg.jpg");
}

section {
  &.color {
    &--bg {
      background-image: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 0.5)),
        url("/assets/images/bg_02.jpg");
      & .flex {
        flex-direction: row;
      }
    }
  }
}

// Tablet view
@media (min-width: 736px) {
  .header__container {
    &__content {
      width: 100%;
      margin-top: 50px;
    }
  }
  #webhosting-help {
    flex-wrap: wrap;
    & .column {
      flex-basis: 50%; 
      display: flex;
    }
  }  
}

// Large tablet and desktop view 
@media (min-width: 1024px) {
  .header__container {
    &__content {
      width: 75%;
      margin-top: 50px;
    }
  }
}