.header {
  background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(41, 128, 185, 0.5)),
    url("/assets/images/services-bg.jpg");
}

.section {
  &.color {
    &--bg {
      background-image: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 0.5)),
        url("/assets/images/bg_02.jpg");
    }
  }

  &.wordpress-hosting {
    line-height: 2;
    text-align: center;
    & .container .flex {
      align-items: center;
    }
  }
  
  & #wplogo {
    max-width: 250px;
    margin: 3em;
  }
}

// Tablet and desktop view
@media (min-width: 768px) {
  .header__container {
    &__content {
      text-align: left;
      width: 100%;
      margin-top: 50px;
    }
  }
  .section {
    &#wordpress-maintenance {
      & .flex {
        flex-wrap: wrap;
        align-items: center;
        & .column {
          flex-basis: 50%;
          display: flex;
          &__icon {
            margin: 0;
          }
          & img {
            padding: 20px;
          }
        }
      }
    }
    &#wordpress-hosting {
      & .flex {
        align-items: center;
      }
    }
    & .container {
      & .flex {
        flex-direction: row;
        justify-content: space-around;
      }
      & .column {
        &__body {
          text-align: left;
        }
      }
    }

    &--color--dark {
      & .container .flex {
        text-align: center;
      }
    }
  }
}

// Desktop view 
@media (min-width: 1300px) {
  .header__container {
    &__content {
      text-align: left;
      width: 75%;
      margin-top: 50px;
    }
  }
  .section {
    &#wordpress-maintenance {
      & .flex {
        & .column {
          flex-basis: 20%;
        }
      }
    }
  }
}
