<header class="header">
  <app-navbar></app-navbar>
  <svg id="curve" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1416.99 174.01">
    <path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z"
      transform="translate(0 -135.53)"></path>
  </svg>
  <div class="header__container">
    <div class="header__container__content">
      <h1>A WORDPRESS MAINTENANCE SERVICE IS CRITICAL FOR YOUR ONLINE SUCCESS</h1>
    </div>
  </div>
</header>

<section class="section" id="wordpress-hosting">
  <div class="container">
    <div class="flex heading">
      <h2>WHAT IS WORDPRESS WEBSITE MAINTENANCE?</h2>
    </div>
  </div>
  <div class="container">
    <div class="flex" data-aos="fade-up">
      <img id="wplogo" src="assets/images/wplogo.png" />
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu..</p>
    </div>
  </div>
</section>

<section class="section color--dark">
  <div class="container">
    <div class="flex">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu..</p>
    </div>
  </div>
</section>

<section class="section" id="wordpress-maintenance">
  <div class="container">
    <div class="flex heading">
      <h2>Services</h2>
    </div>
  </div>
  <div class="container">
    <div class="flex">
      <div class="column" data-aos="fade-up">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
      <div class="column" data-aos="fade-up">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
      <div class="column" data-aos="fade-up">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
      <div class="column" data-aos="fade-up">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
      <div class="column" data-aos="fade-up">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
      <div class="column" data-aos="fade-up">
        <div class="column__icon">
          <img src="assets/images/cloud-computing.png" />
        </div>
        <div class="column__body">
          <h4>Free Website SSL</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section color">
  <div class="container">
    <div class="flex heading">
      <h2>Our Plans</h2>
    </div>
  </div>
  <!-- <div class="container">
    <div class="flex">
      <ul class="tab">
        <li>
          <a id="monthly-tab" (click)="monthlyTab()">Package 01</a>
        </li>
        <li>
          <a id="yearly-tab" (click)="yearlyTab()">Package 02</a>
        </li>
        <li id="indicator"></li>
      </ul>
    </div>
  </div> -->
  <div class="container" id="first-tab">
    <div class="flex">
      <div class="column">
        <div class="card">
          <div class="card__icon">
            <img src="assets/images/cloud-computing.svg" />
          </div>
          <div class="card__body">
            <h3 class="card__title">Cloud Computing</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et</p>
            <p class="card__price">£1.99</p>
            <span class="btn btn--std btn--std01">Click Here</span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card active">
          <div class="card__icon">
            <img src="assets/images/cloud-computing.svg" />
          </div>
          <div class="card__body">
            <h3 class="card__title">Cloud Computing</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et</p>
            <p class="card__price">£59.99</p>
            <span class="btn btn--std btn--std02">Click Here</span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card__icon">
            <img src="assets/images/cloud-computing.svg" />
          </div>
          <div class="card__body">
            <h3 class="card__title">Cloud Computing</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et</p>
            <p class="card__price">£2.99</p>
            <span class="btn btn--std btn--std01">Click Here</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container" id="second-tab">
    <div class="flex">
      <div class="column">
        <div class="card">
          <div class="card__icon">
            <img src="assets/images/cloud-computing.svg" />
          </div>
          <div class="card__body">
            <h3 class="card__title">Cloud Computing</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et</p>
            <p class="card__price">£0.99</p>
            <span class="btn btn--ghost btn--ghost--01">
              <span class="btn__slide btn__slide--01"></span>
              <a href="#">Search</a>
            </span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card active">
          <div class="card__icon">
            <img src="assets/images/cloud-computing.svg" />
          </div>
          <div class="card__body">
            <h3 class="card__title">Cloud Computing</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et</p>
            <p class="card__price">£36.99</p>
            <span class="btn btn--ghost btn--ghost--02">
              <span class="btn__slide btn__slide--02"></span>
              <a href="#">Search</a>
            </span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card__icon">
            <img src="assets/images/cloud-computing.svg" />
          </div>
          <div class="card__body">
            <h3 class="card__title">Cloud Computing</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et</p>
            <p class="card__price">£6.59</p>
            <span class="btn btn--ghost btn--ghost--01">
              <span class="btn__slide btn__slide--01"></span>
              <a href="#">Search</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>

<section class="section color--bg">
  <div class="container">
    <div class="flex">
      <div class="text-container">
        <h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
      </div>
    </div>
    <div class="flex">
      <span class="btn btn--std btn--std02">Click Here</span>
    </div>
  </div>
</section>
<app-scroll></app-scroll>
<app-footer></app-footer>