// Color Variables
$white: #ffffff;
$hostfront-blue-light: #f8fafe;
$hostfront-blue: #2980b9; 
$hostfront-blue-dark: #283e51;
  
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  min-height: 100vh;
}

// Header Component
.header {
  position: relative;
  height: 750px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;

  & svg {
    position: absolute;
    bottom: 0;
    width: 100%;

    & path {
      fill: $white;
    }
  }

  &__container {
    max-width: 85%;
    height: 100%;
    display: flex;
    margin: auto;
    color: white;

    &__content {
      text-align: center;
    }
  }
}

// Header Component Tablet View
@media (min-width: 768px) {
  .header__container {
    &__content {
      width: 75%;
      text-align: left;
      & h1 {
        font-size: 3.5rem;
      }
      & p {
        margin-bottom: 3em;
      }
      & .btn-wrapper {
        display: inline;
        & .btn {
          padding: 20px 30px;
          margin-right: 20px;
        }
      }
    }
  }
}

// Header Component Desktop View
@media (min-width: 1367px) {
  .header__container {
    &__content {
      width: 50%;
    }
  }
}

// Section, Container, Flex
section {
  &.section {
    padding: 100px 0;
    line-height: 2;
    text-align: center;
    &.color {
      background-color: $hostfront-blue-light;
      &--gradient {
        background: linear-gradient(to right, $hostfront-blue, $hostfront-blue-dark);
      }
      &--dark {
        background-image: linear-gradient(#2c3e50, #2980b9);
        & .container .flex {
          color: white;
        }
      }
      &--light {
        background: linear-gradient(to right, $hostfront-blue, $hostfront-blue, #81e7f2);
        & .container .flex {
          color: white;
        }
      }
      &--bg {
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size:cover;
      }
      &--wavy {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(-1, -1);
          width: 100%;
          height: 50px;
          fill: #ffffff;
          background-image: url("/assets/images/wavy.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scaleX(1);
          width: 100%;
          height: 50px;
          fill: #ffffff;
          background-image: url("/assets/images/wavy.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        & .container .flex {
          justify-content: start;
        }
        & .container:nth-child(2) .flex {
          justify-content: flex-end;
        }
      }
    }

    &--feature {
      padding: 0;
      position: relative;
      top: -150px;
    }

    & .feature-group {
      margin: 1.25em;
      padding: 3em;
      background-color: $hostfront-blue-light;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      color: $hostfront-blue;
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      &__img {
        display: flex;
        min-width: 138px;
        margin-right: 20px;
        & img {
          width: 100%;
        }
      }
      &__body {
        & .btn {
          display: inline-block;
        }
      }
      & h3 {
        font-size: 1.25em;
        margin: 0;
      }
    }

    .container {
      padding: 30px 0px;
      max-width: 85%;
      margin: auto;
      overflow: hidden;
    
      .flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &.heading {
          text-align: center;
          & h2 {
            text-transform: uppercase;
            font-size: 2em;
            color: $hostfront-blue-dark;
          }  
        }
      }

      & .text-container {
        text-align: center;
        line-height: 1.5;
        color: white;
      }
    }
  }
}

// Section, Container, Flex tablet and desktop view {
@media (min-width: 768px) {
  section {
    &.section {
      & .container {
        & .flex {
          flex-direction: row;
        }
        & .text-container {
          display: flex;
          flex-direction: column;
          & h1 {
            font-size: 2.5em;
          }
        }
        & .feature-group {
          flex-direction: row;
          text-align: left;
          justify-content: space-evenly;
        }        
      }
    }
  }
}

@media (min-width: 736px) {
  section.section {
    &.color {
      &--bg {
        &::before{
          height: 125px;
        }
        &::after {
          height: 125px;
        }
      }
    }
  }
}

// Section, Container, Flex tablet and desktop view {
  @media (min-width: 1300px) {
    section {
      &.section {
        & .container {
          max-width: 75%;
        }
      }
    }
  }

// Feature Group Component tablet view
@media (min-width: 768px) and (max-width: 1024px) {
  section {
    &.section {
      & .container {
        & .feature-group {
          flex-direction: column;
          text-align: center;
        }        
      }
    }
  }
}

// CTA-left and CTA-right Component
// REMEMBER TO REMOVE STYLES WHEN READY
.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

  & h2 {
    text-transform: uppercase;
    font-size: 2em;
    color: $hostfront-blue-dark;
  }

  & p {
    line-height: 1.8;
  }

  &--right,&--left {
    text-align: center;
    padding: 5em 0em;
    & .btn-wrapper {
      margin: 2em 0;
    }
  }

  &__img {
    width: 50%;
    margin: 0 auto;
  }

  &--color{
    color: white;
    & h2 {
      color: white;
    }
  }
}

// CTA component tablet and desktop view
@media (min-width: 768px) {
  .cta {
    width: 50%;
    &__img {
      width: 40%;
    }
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
  }
}

// Three column layout Component
.column {
  flex-basis: 33.3%;
  padding: 20px;
  line-height: 1.5;
  color: $hostfront-blue;

  &__icon {
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    & img {
      width: 100%;
    }
  }

  &__body {
    text-align: center;
    & h3 {
      font-size: 1.5em;
      color: $hostfront-blue-dark;
    }
  }
}

// Three column layout component tablet view
@media (min-width: 768px) {
  .column__icon {
    height: auto;
    width: auto;
  }
}

// Three column layout component desktop view
@media (min-width: 1300px) {
  .column__icon {
    height: 200px;
    width: 200px;
  }
}

// Form component
form {
  width: 100%;
  display: flex;
  & h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    color: #283e51;
  }
  & .input-wrapper {
    display: flex;
    flex-direction: column;
    & .form-group {
      position: relative;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      & label {
        font-weight: 300;
        margin-bottom: 8px;
      }
      & select{
        height: 60px;
        border-radius: 3px;
        border: 1px solid #d3d6e2;
        padding: 1em;
      }
      & input, textarea {
        height: 60px;
        border-radius: 3px;
        font-size: 17px;
        padding: 2em;
        border: 1px solid #d3d6e2;
        background-color: #fff;
        box-shadow: none;
      }
      & textarea {
        min-height: 286px;
      }
    }
  }
  & .btn-wrapper {
    margin: 2em 0px;
    display: flex;
    justify-content: center;
    & .btn {
      text-align: center;
      margin: auto;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  text-align: left;
}

.faq {
  padding: 0 2em;

  .faq-content {
    margin: 0 auto;
  }
  
  .faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }
  
  .panel-title {
    font-size: 1.25em;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
  }
  
  .panel-content {
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: 5;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  }
  
  .panel:checked ~ .panel-content{
    height: auto;
    opacity: 1;
    padding: 14px;
  }
  
  .plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }
  
  .panel:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .panel {
    display: none;
  }
}

@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
  }
  .form-wrapper {
    width: 60%;
    padding: 0 2em;
  }
  form .btn-wrapper {
    justify-content: start;
  }
  form .btn-wrapper .btn {
    margin: 0;
  }
}

//Form Fields - Made important because it is an overriding Class that kicks in when a form input is invalid
.invalid{
  border: 5px solid red !important;
}

.d-none{
  display: none;
}

// Service--feature
@media (min-width: 768px) {
  section.service-feature {
    max-height: 600px;
    & .container {
      max-width: 85%;
    }
    .flex.service-feature {
      & .service-feature {
        &__img {
          margin-top: 17em;
          width: 50%;
          & img {
            width: 100%;
          }
        }
        &__text {
          padding-top: 2em;
          width: 40%;
          text-align: left;
          margin-left: 2em;
          & h2 {
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  section.service-feature {
    max-height: 650px;
    & .container {
      max-width: 85%;
    }
    .flex.service-feature {
      & .service-feature {
        &__img {
          margin-top: 13em;
          width: 50%;
          & img {
            width: 100%;
          }
        }
        &__text {
          padding-top: 2em;
          width: 40%;
          text-align: left;
          margin-left: 2em;
          & h2 {
            text-transform: uppercase;
            font-size: 2em;
            color: #ffffff;
            margin: 0;
          }
        }
      }
    }
  }
}


// Standard Desktop Screens
@media (min-width: 1366px) {
  section.service-feature {
    max-height: 600px;
    & .container {
      max-width: 85%;
    }
    .flex.service-feature {
      & .service-feature {
        &__img {
          margin-top: 4em;
        }
      }
    }
  }
}

// Large Desktop
@media (min-width: 1680px) {
  section.service-feature {
    .flex.service-feature {
      & .service-feature {
        &__img {
          & img {
            width: 80%;
          }
        }
      }
    }
  }
}

// Extra Large Desktop
@media (min-width: 2560px) {
  section.service-feature {
    .flex.service-feature {
      & .service-feature {
        &__img {
          & img {
            width: 60%;
          }
        }
      }
    }
  }
}