<app-header [data]="pageModelDynamicGlobalModules" [headerClass]="home"></app-header>

<section class="section" id="intro">
  <div class="container">
    <div class="flex heading">
      <h2>Launch A Wordpress Website</h2>
    </div>
    <div class="flex">
      <p>
        Hostfront launches fast, lightweight wordpress websites on blazing fast web servers, we say, `speed
        wins`.<br />We deliver a fully optimized wordpress suite within 24hrs, with multiple website staging environments.
      </p>
      <div class="btn-wrapper">
      </div>
    </div>
  </div>
</section>

<section class="section color--bg color--wavy">
  <div class="container">
    <div class="flex">
      <div class="cta cta--color cta--left" data-aos="fade-left">
        <h2>Our Hosting Service</h2>
          <p>When joining our hosting service we perform a full website audit. We optimize your website based on our audit findings, and then we host your wordpress website on Hostfront. All within 24hrs!</p>
        <div class="btn-wrapper">
          <app-button [buttonConfig]="secondaryBtn" [buttonText]="'Try Hostfront: 30 Day Free Trial'">
          </app-button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="flex heading">
      <h2> Hosting Service Features</h2>
    </div>
    <div class="flex">
      <p>Hosting your wordpress website with Hostfront creates a wide range of possibilities for your website speed, scalability
        and performmance. </p>
    </div>
  </div>
  <div class="container">
    <div class="flex" data-aos="fade-up" *ngIf="pageModelDynamicGlobalModules">
      <div class="column" *ngFor="let icon_card of pageModelDynamicGlobalModules.api_res_icon_card">
        <div class="column__icon">
          <img src="{{pageModel.baseUrl}}{{icon_card.icon.url}}" />
        </div>
        <div class="column__body">
          <h3>{{icon_card.card_header}}</h3>
          <p>{{icon_card.card_text}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section color--light service-feature">
  <div class="container">
    <div class="flex service-feature">
      <div class="service-feature__img">
        <img src="../../assets/images/macbook.png" alt="website-example" />
      </div>
      <div class="service-feature__text">
        <span>WORDPRESS IS POWERING 35% OF THE WEB.</span>
        <p>More than 1.1 million new registered wordpress domains every 6 months.</p>
        <h2></h2>
      </div>
    </div>
  </div>
</section>

<section class="section color">
  <div class="container">
    <div class="flex heading">
      <h2>Wordpress Hosting Packages</h2>
    </div>
    <div class="flex">
      <p> We designed this service to provide 'peace of mind' web hosting solutions that add value to your business.
        <br /><strong>No hidden fees, what you see is what you get.</strong></p>
    </div>
  </div>
  <app-price-card [prices]="pageModelDynamicGlobalModules" [baseUrl]="baseUrl"></app-price-card>
</section>

<section class="section" *ngIf="pageModelDynamicGlobalModules">
  <div class="container">
    <div class="flex heading">
      <h2>Hostfront Wordpress Services</h2>
    </div>
    <div class="flex">
      <p>A hosting service that offers 'agency like' deeper wordpresss solutions, that create rich ecosystems for website success.</p>
    </div>
  </div>
  <app-cta [data]="pageModelDynamicGlobalModules" [baseUrl]="baseUrl"></app-cta>
</section>

<app-hero-text [data]="pageModelDynamicGlobalModules" [heroClass]="home">
</app-hero-text>

<section class="section section--feature">
  <div class="container" *ngIf="pageModelDynamicGlobalModules">
    <div class="flex">
      <div class="feature-group" [attr.data-aos]="first ? 'fade-right' : 'fade-left'"
        *ngFor="let card of pageModelDynamicGlobalModules.api_res_icon_card_with_cta; let first = first;">
        <div class="feature-group__img">
          <img src="{{baseUrl}}{{card.icon.url}}" />
        </div>
        <div class=" feature-group__body">
          <h3>{{card.card_header}}</h3>
          <p>{{card.card_text}}</p>
          <app-button [buttonConfig]="primaryBtn" [buttonText]="card.cta"></app-button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-scroll></app-scroll>

<app-footer></app-footer>