section {
  &.color {
    &--wavy {
      min-height: 650px;
      background-image: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(44, 62, 80, 0.5)),
        url("https://images.pexels.com/photos/935985/pexels-photo-935985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: left center;
    }
  }
  &.section{
    & .container {
      & .flex {
        flex-wrap: wrap;
      }
    }
  }
}

.service-feature {
  &__img {
    width: 100%;
    & img {
      width: 100%;
    }
  }
  &__text {
    width: 100%;
    & span {
      font-size: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .service-feature {
    &__text {
      & span {
        font-size: 2.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .service-feature {
    &__text {
      & span {
        font-size: 3rem;
      }
    }
  }
}

@media (min-width: 1366px) {
  .service-feature {
    &__text {
      & span {
        font-size: 3.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  section.section {
    &.color {
      &--wavy {
        height: 800px;
      }
      &--bg {
        &::before{
          height: 25%;
        }
        &::after {
          height: 25%;
        }
      }
    }
  }
}

@media (min-width: 1680px) {
  section.section {
    &.color {
      &--bg {
        &::before{
          height: 30%;
        }
        &::after {
          height: 30%;
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  section.section {
    &.color {
      &--bg {
        &::before{
          height: 35%;
        }
        &::after {
          height: 35%;
        }
      }
    }
  }
}


@media (min-width: 1366px) {
  #intro {
    & .heading {
      width: 70%;
      margin: auto;
    }
    & p {
      line-height: 2.75;
    }
  }
}