.footer {
  background: linear-gradient(to right, #2980b9, #2c3e50);
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  color: #ffffff;
  & .container {
    width: 75%;
    margin: auto;

    & hr {
      color: #ffffff;
    }
  }
  .column {
    color: #ffffff;
    flex: none;
  }
  & .column a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    display: block;
    &.hover {
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2.5px;
        bottom: -8px;
        left: 0;
        background: #fff;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        width: 100%;
      }
    }
  }
    &__bottom {
      padding: 2em 0;
      &__01 {
        text-align: center;
        width: 100%;
        line-height: 2;
      }
      &__02 {
        display: flex;
        
        & .column {
          display: flex;
          justify-content: center;
          width: 100%;
          & img {
            width: 30%;
          }
        }
      }
    }
    &__contact {
      & a {
        color: #ffffff;
        text-decoration: none;
        display: inline-flex !important;
        align-items: center;
        & .logo {
          width: 75px;
        }
        & span {
          font-size: 1.5em;
          font-weight: bold;
          font-family: "Open Sans", sans-serif;
        }
      }
      & h3, .copyright {
        padding-left: 1em;
      }
    }
  
    & .container {
      padding: 30px 0px;
    
      & .flex {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        &.footer__social-media {
          justify-content: space-between;
          & div {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
        & ul {
          padding: 0;
          & li {
            list-style: none;
          }
        }
      }
    }
  }




@media (min-width: 768px) {
  .footer {
    &__bottom {
      padding: 2em 0;
      &__01 {
        width: 50%;
        line-height: 2;
        text-align: left;
      }
      &__02 {
        display: flex;
        
        & .column {
          display: flex;
          justify-content: flex-end;
          & img {
            width: 30%;
          }
        }
      }
    }
    &__contact {
      & a {
        color: #ffffff;
        text-decoration: none;
        display: inline-flex !important;
        align-items: center;
        & .logo {
          width: 75px;
        }
        & span {
          font-size: 1.5em;
          font-weight: bold;
          font-family: "Open Sans", sans-serif;
        }
      }
      & h3, .copyright {
        padding-left: 1em;
      }
    }
  
    & .container {
      padding: 30px 0px;
    
      & .flex {
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        &.footer__social-media {
          justify-content: space-between;
          & div {
            width: 30%;
            display: flex;
            justify-content: space-between;
          }
        }
        & ul {
          padding: 0;
          & li {
            list-style: none;
          }
        }
      }
    }
  }
}
