<footer class="footer">
  <div class="container">
    <div class="flex">
      <!-- <div class="column">
        <a class="hover" routerLink="/about" routerLinkActive="active">
          <h4>About</h4>
        </a>
      </div> -->
      <!-- <div class="column">
        <h4>Services</h4>
        <a class="hover" href="#" routerLink="/wordpress-hosting">
          <p>Wordpress Hosting</p>
        </a>
        <a class="hover" routerLink="/wordpress-maintenance">
          <p>Wordpress Maintenance</p>
        </a>
      </div> -->
      <div class="footer__contact column">
        <h4>Contact Us</h4>
        <a routerLink="">
          <img class="logo" src="assets/images/logo.png" alt="hostfront-logo" />
          <span>HostFront</span>
        </a>
        <p>© 2020 HostFront. all rights reserved.</p>
        <p>sales@hostfront.co.uk</p>
      </div>
    </div>
    <hr />
    <div class="flex footer__bottom">
      <div class="footer__bottom__01">Hostfront pushes the concept of wordpress web hosting from 'one-click installs'
        towards a high quality, web hosting experience; that provides all our clients with a platform to launch their
        digital ideas.</div>
      <!-- <div class="footer__bottom__02">
        <div class="column">
          <img src="../../../assets/images/hostfront.svg" />
        </div>
      </div> -->
    </div>
    <div class="flex footer__social-media">
      <p>© 2020 HostFront. all rights reserved.</p>
      <!-- <div>
        <i class="fa fa-facebook-square" style="font-size:36px"></i>
        <i class="fa fa-twitter" style="font-size:36px"></i>
        <i class="fa fa-instagram" style="font-size:36px"></i>
      </div> -->
    </div>
  </div>
</footer>


<!-- <p>
       Hostfront pushes the concept of wordpress web hosting from 'one-click installs' towards a secure, high  quality, web hosting experience, that provides all our clients with the perfect platform to launch their digital ideas.
       customer point-of-view orientated service. We place an intense focus on combing our technical knowledge with the practical experience of hosting sites; to provide high quality, educational and flexible web hosting experiences.
   
       Hostfront has built its web hosting service on highly realiable, modern day architecture, that readily delivers speed, security and web optimization. 
     
       that reflect the current trends of independent creatives to the small and medium enterprises. 
       <br/>Our servers are configured to reduce the amount of plugins our clients would need on their wordpress websites.
      </p> -->