// Color Variables
$white: #ffffff;
$hostfront-blue-light: #f8fafe;
$hostfront-blue: #2980b9; 
$hostfront-blue-dark: #283e51;

.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

  & h2 {
    text-transform: uppercase;
    font-size: 2em;
    color: $hostfront-blue-dark;
  }

  & p {
    line-height: 1.8;
  }

  &--right,&--left {
    text-align: center;
    padding: 2em 0em;
    & .btn-wrapper {
      margin: 2em 0;
    }
  }

  &__img {
    width: 50%;
    margin: 0 auto;
  }

  &--color{
    color: white;
    & h2 {
      color: white;
    }
  }
}

// CTA component tablet and desktop view
@media (min-width: 768px) {
  .cta {
    width: 50%;
    &__img {
      width: 40%;
    }
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
  }
}