<div *ngIf="data">
  <div class="container" *ngFor="let card of data.api_res_full_width_card; let first = first;">
    <div [attr.data-aos]="first ? 'fade-left' : 'fade-right'" *ngIf="first; else elseBlock">
      <div class="flex">
        <div class="cta" [ngClass]="first ? 'cta--left' : 'cta--right'">
          <h2>{{card.card_header}}</h2>
          <p>{{card.card_text}}</p>
          <div class="btn-wrapper">
            <app-button [buttonConfig]="primaryBtn" [buttonText]="card.cta"></app-button>
          </div>
        </div>
        <img class="cta__img" src="{{baseUrl}}{{card.icon.url}}" />
      </div>
    </div>
    <ng-template #elseBlock>
      <div [attr.data-aos]="first ? 'fade-left' : 'fade-right'">
        <div class="flex">
          <img class="cta__img" src="{{baseUrl}}{{card.icon.url}}" />
          <div class="cta" [ngClass]="first ? 'cta--left' : 'cta--right'">
            <h2>{{card.card_header}}</h2>
            <p>{{card.card_text}}</p>
            <div class="btn-wrapper">
              <app-button [buttonConfig]="primaryBtn" [buttonText]="card.cta"></app-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>


<!-- <ng-container *ngTemplateOutlet="ctaConfig['ctaLeft'] ? left : right">
</ng-container>

<ng-template #left>
  <div data-aos="fade-left">
    <div class="flex">
      <div class="cta cta--left">
        <h2>{{ ctaHeader }}</h2>
        <p>{{ ctaText }}</p>
        <div class="btn-wrapper">
          <app-button [buttonConfig]="primaryBtn" [buttonText]="'button text'"></app-button>
        </div>
      </div>
      <img class="cta__img" src="{{ ctaImg }}" />
    </div>
  </div>
</ng-template>

<ng-template #right>
  <div data-aos="fade-right">
    <div class="flex">
      <img class="cta__img" src="../../../assets/images/laptop.svg" />
      <div class="cta cta--right">
        <h2>{{ ctaHeader }}</h2>
        <p>{{ ctaText }}</p>
        <div class="btn-wrapper">
          <app-button [buttonConfig]="primaryBtn" [buttonText]="'button text'"></app-button>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->